
<div class="col-md-6 user-container">
    <h2 style="margin: auto"> Package Details</h2>

    <table class="table table-striped" border="5">
      <thead>
      <tr>
  
        <th>Package Id</th>
        <th>Package Name</th>
        <th>Description</th>
        <th>no_of_days</th>
        <th>amount Per Person</th>
        <th>mode Of Transportation</th>
        <th>hotel</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of tours">
    
        <td>{{t.packageId}}</td>
        <td>{{t.packageName}}</td>
        <td>{{t.description}}</td>
        <td>{{t.numberOfDays}}</td>
        <td>{{t.amountPerPerson}}</td>
        <td>{{t.modeOfTransportation}}</td>
        <td>{{t.hotel}}</td>
        
      </tr>
      </tbody>
    </table>
  </div> 
  