<app-admin-dashboard></app-admin-dashboard>

<div class="col-md-6 user-container">
    <h2 style="margin: auto"> Package Details</h2>

    <table class="table table-striped" border="5">
      <thead>
      <tr>
  
        <th>Package Id</th>
        <th>Package Name</th>
        <th>Description</th>
        <th>no_of_days</th>
        <th>amount Per Person</th>
        <th>mode Of Transportation</th>
        <th>hotel</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tour of tours">
    
        <td>{{tour.packageId}}</td>
        <td>{{tour.packageName}}</td>
        <td>{{tour.description}}</td>
        <td>{{tour.numberOfDays}}</td>
        <td>{{tour.amountPerPerson}}</td>
        <td>{{tour.modeOfTransportation}}</td>
        <td>{{tour.hotel}}</td>
         <td><button (click)="editTour(tour)">Edit</button></td>
        <td><button  (click)="deleteTour(tour)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div> 
  