<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>PackageName</th>
                            <th>NoofPersons</th>
                            <th>NoOfdays</th>
                            <th>Transportation</th>
                            <th>Hotel</th>
                            <th>StartDate</th>
                            <th>Enddate</th>
                            <th>AmountPerPerson</th>
                            <th>Paymode</th>
                            <th>BookingStatus</th>
                            <th>paymentConformation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{t.reserevdPackageId}}</td>
                            <td>  
                                <a [routerLink]="['/tourinfo', t.reserevdPackageId]">{{t.packageName}}</a>
                            
                            </td>
                            <td>{{t.noOfPersons}}></td>
                            <td>{{t.numberOfDays}}</td>
                            <td>{{t.modeOfTransportation}}></td>
                            <td>{{t.hotel}}</td>
                            <td>{{t.startDate}}</td>
                            <td>{{t.endDate}}></td>
                            <td>{{t.amountPerPerson}}</td>
                            <td>{{t.payMode}}</td>
                            <td>{{t.status}}</td>
                            <td>{{t.confirm}}</td>
                            <td>
                             <button  class="btn btn-outline-primary btn-sm" (click)="editPackage(t)">
                                       
                                  Edit 
                                </button>
                              </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
