<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Home</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['customer-list']" [routerLinkActive]="['active']">Product List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" >About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">link4</a>
      </li>

  </ul>
  
</nav>
<br>
  
<div class="container">
  
</div>

</body>
</html>






<div class="col-md-6 user-container">
    <h2 style="margin: auto"> User Details</h2>
    <button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        
        <th>UserName</th>
        <th>role</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden">{{user.id}}</td>
        
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        
        <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
          <button class="btn btn-success"  style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- <app-customer-list></app-customer-list> -->
