<!-- Navbar starts from here -->


<div class="input-container">
    <nav class="navbar navbar-expand-xl bg-light nav_class">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <i><strong>HHMD Tours&travels</strong></i>
          <!-- <img src="./../assets/Images/src/download.jpg" class="rounded float-start" alt=""> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
  
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav_ul">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/customerdashboard">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/admindashboard">Admin</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Our Packages
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">India</a></li>
                <li><a class="dropdown-item" href="#">UAE</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Italy</a></li>
                <li><a class="dropdown-item" href="#">Switzerland</a></li>
                <li><a class="dropdown-item" href="#">Vietnam</a></li>
              </ul>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <!-- <button type="button" class="btn btn-primary custom_button signup_btn">Sign Up</button> -->
            </li>
            
          </ul>
        
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar ends here -->
  
  <!-- Slider Starts from here -->
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
     <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/Images/src/hom.jpeg" class="d-block w-100 c_img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5> THE TAJ </h5>
          <p>Its the most exotic view which was made in the name of Love.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Images/src/ily.jpeg" class="d-block w-100 c_img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>THE COLOSSEUM</h5>
          <p>THE COLOSSEUM IN ROME IS AN FEAT OF ENGINEERING, THE AMPHITHEATER MEASURES 620 BY 513 FEET (189 by 156 METERS)</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Images/src/exp.jpeg" class="d-block w-100 c_img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>THE MOOD</h5>
          <p>ITS NEVER TO LATE TO PLAN A TRAVEL</p>
        </div>
      </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- slider ends here -->
  
  <div class="container_card card1">
    <div class="card" style="width: 18rem;">
      <div class="card_img img1"></div>
      <div class="card-body">
        <h5 class="card-title">India Tour</h5>
        <p class="card-text"><i>India is one of the most classical place to vist, where you
          you can enjoy your time with your family and loved once. You will surely find love and care 
        at every corner of country, and even find your brocken pieces of your life </i></p>
        <a href="#" class="btn btn-primary">BOOK NOW</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card_img img2"></div>
      <div class="card-body">
        <h5 class="card-title">England Tour</h5>
        <p class="card-text"><i>England is a country that is part of the United Kingdom. It shares land borders with Wales to its west and Scotland to its north. The Irish Sea lies northwest of England and the Celtic Sea to the southwest. . </i></p>
        <a href="#" class="btn btn-primary">BOOK NOW</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card_img img3"></div>
      <div class="card-body">
        <h5 class="card-title">UAE Tour</h5>
        <p class="card-text"><i>The United Arab Emirates, is a country in Western Asia.Its located at the eastern end of the Arabian and shares borders with Oman and Saudi Arabia, while having  borders in the Gulf with Qatar and Iran.</i></p>
        <a href="#" class="btn btn-primary">BOOK NOW</a>
      </div>
    </div>
  </div>
  
  <div> 
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/Images/src/world.jpg" class="d-block w-100 c_img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/Images/src/petra.jpg" class="d-block w-100 c_img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/Images/src/Tour.jpg" class="d-block w-100 c_img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> 
  
  <div class="card_container">
    <div class="container_card card2">
      <div class="card" style="width: 18rem;">
        <div class="card_img img4"></div>
        <div class="card-body">
          <h5 class="card-title">Philipines</h5>
          <p class="card-text"><i>The Philippines officially the Republic of the Philippines is an archipelagic country in Southeast Asia.In the Pacific Ocean and consists of around 7,641 islands that are categorized under three  geographical divisions from north to south: Luzon</i></p>
          <a href="#" class="btn btn-primary">BOOK NOW</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card_img img5"></div>
        <div class="card-body">
          <h5 class="card-title">Switzerland</h5>
          <p class="card-text"><i>The country is a federal republic composed of 26 cantons, with federal authorities based in Bern. Switzerland is bordered by Italy to the south, France to the west, Germany to the north and Austria and Liechtenstein to the east</i></p>
          <a href="#" class="btn btn-primary">BOOK NOW</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card_img img6"></div>
        <div class="card-body">
          <h5 class="card-title">Vietnam</h5>
          <p class="card-text"><i>Vietnam was inhabited as early as the Paleolithic age. The first known states during the first millennium BC centered on the Red River Delta, located in modern-day northern Vietnam. .</i></p>
          <a href="#" class="btn btn-primary">BOOK NOW</a>
        </div>
      </div>
    </div>
    
    <div class="container_card card3">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Images/src/willian.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p><s>77,890/-</s></p>
          <p>66,456/-</p>
          <a href="#" class="btn btn-primary">BOOK TICKETS</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Images/src/willian.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p><s>58,000/-</s></p>
          <p>46,000/-</p>
          <a href="#" class="btn btn-primary">BOOK TICKETS</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Images/src/willian.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p><s>40,000/-</s></p>
          <p>27,890/-</p>
        <a href="#" class="btn btn-primary">BOOK TICKETS</a>
      </div>
    </div>
  </div>
    
  </div>
  
  <footer>
      <h6>
        <label>Contact Us </label>
        <span>
          <i class="fa-solid fa-phone"></i>
          <label>+91 9935973322</label>
  
        </span>
      </h6>
      <h1>“A journey of a thousand miles begins with a single step” </h1>
      <p>Book your favourite destination to travel the world and experience the journey of life.</p>
      <div>
      
        <button type="button" class="btn btn-primary custom_button">STAFF LOGIN</button>
      </div>
      <h1>HHMD TOURS AND TRAVELS</h1>
    </footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   