
 
 <nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{title}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/listtour'>Tour Packages</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/edittour'>Edit Tour</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/addtour'>Add Tour</a></li>
  </ul>
</nav>
 
<h1>hello world</h1>
<h2>from shaik</h2>
<h3>from varsha</h3>
<h4>from akshay</h4>
<h3>from Ranga Reddy</h3>
<h1> $hankhanil </h1>
<p>Hi this is rangareddy</p>
<h2>Kalyani</h2>
<header></header>
<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{title}}</a>
    <ul class='nav nav-pills'>

      <li><a class='nav-link' routerLinkActive='active' routerLink='/tourinfo'>reservedtourpackages</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/tourinfo-edit'>Edit</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/login'>Login</a></li>
      <li><a class='nav-link' [routerLinkActive]="['active']" [routerLink]="['tourinfo']">reservedtourpackages</a></li>
      <li><a class='nav-link' [routerLink]="['/addtour']" [routerLinkActive]="['active']">add package</a> </li>

    </ul>
</nav>
<div class='container'>
 <app-login></app-login>
<router-outlet></router-outlet>
</div>
