
<body >
  
 
   <h1 >Admin Dashboard</h1>
   <nav class='navbar navbar-expand navbar-light bg-light'>
    
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/listtour'>Tour Packages</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/edittour'>Edit Tour</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/addtour'>Add Tour</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/login'>Login</a></li>
      <button class="btn btn-success">logout</button>
    </ul>
  </nav>
  
</body>
