

<div class="container contact">
	<div class="row">
		<h1 class="black">Add Personal Details</h1>
        <form  [formGroup]="sampleForm" (ngSubmit)="display()"class="needs-validation" novalidate>
            <div class="col-md-9" style="width: 120%;">
                <div class="contact-form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lname">First Name:</label>
                        <div class="col-sm-10">          
                            <input type="text" [ngClass]="!firstName?.valid && (firstName?.dirty || firstName?.touched) ? 'form-control input-error': 'form-group'" id="lname" placeholder="Enter First Name" formControlName="firstName"  name="lname">
                            <div *ngIf="!firstName?.valid && (firstName?.dirty || firstName?.touched)">
                                <div class="red" [hidden]="!firstName?.errors?.['required']">
                                    First name is required
                                </div>
                            </div>
                            
                        </div>
                        </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="lname">Last Name:</label>
                    <div class="col-sm-10">          
                        <input type="text" [ngClass]="!lastName?.valid && (lastName?.dirty || lastName?.touched) ? 'form-control input-error': 'form-group'" id="lname" placeholder="Enter Last Name" formControlName="lastName"  name="lname">
                        <div *ngIf="!lastName?.valid && (lastName?.dirty || lastName?.touched)">
                            <div class="red" [hidden]="!lastName?.errors?.['required']">
                                Last name is required
                            </div>
                        </div>
                        
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="userId">User Id:</label>
                    <div class="col-sm-10">
                        <input type="email" [ngClass]="!userId?.valid && (userId?.dirty || userId?.touched) ? 'form-control input-error': 'form-group'" id="userId" placeholder="Enter EmailId" formControlName="userId"  name="userId">
                        <div *ngIf="!userId?.valid && (userId?.dirty || userId?.touched)">
                            <div class="red" [hidden]="!userId?.errors?.['required']">
                                User ID is required
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-checkk">                
                        <label class="black" for="gender">Gender:</label>
                        <input class="radioclass black"type="radio"  value="male" id="gender" formControlName="gender"><label class="black">Male :</label>
                        <input class="radioclass black"type="radio"  value="female" id="gender" formControlName="gender"><label class="black">Female :</label>
                    </div>
                    <div class="form-checkk"style="display: flex;">
                        <div class="form-group" style="width: 40%">
                            <label class="control-label" for="lname">Age:</label>
                            <div class="col-md-12">          
                                <input                         
                                    type="number" 
                                    class="form-control" 
                                    id="age" 
                                    placeholder="Enter age" 
                                    formControlName="age"  
                                    name="age">
                            </div>
                            </div>
                            <div class="form-group" style="width: 43%;padding-left: 2%;">
                                <label class="control-label" for="lname">Mobile Number:</label>
                                <div class="col-md-12">          
                                    <input type="text" 
                                        [ngClass]="!mobileNo?.valid && (mobileNo?.dirty || mobileNo?.touched) ? 'form-control input-error': 'form-group'" 
                                        id="mobileNo" 
                                        placeholder="Enter Mobile No." 
                                        formControlName="mobileNo"  
                                        name="mobileNo"
                                        maxlength="10">
                                </div>
                                </div>
                    </div>

                    <div class="form-checkk"style="display: flex;">
                        <div class="form-group" style="width: 40%">
                            <label class="control-label" for="lname">Enter Password:</label>
                            <div class="col-md-12">          
                                <input 
                                    type="password" 
                                    id="password" 
                                    placeholder="Enter Password" 
                                    formControlName="password"  
                                    name="password"
                                    maxlength="10">
                            </div>
                            </div>
                            <div class="form-group" style="width: 43%;padding-left: 2%;">
                                <label class="control-label" for="lname">Confirm Password:</label>
                                <div class="col-md-12">          
                                    <input type="password" 
                                        class="form-control" 
                                        id="cpassword" 
                                        placeholder="Confirm Password" 
                                        formControlName="cpassword"  
                                        name="cpassword"
                                        maxlength="10">
                                </div>
                                </div>
                    </div>

                    <div class="">        
                    <div class="col-sm-offset-2 col-sm-10">
                        
                        <button type="submit" style="width: 100%;" class="btn btn-primary">Submit</button>
                        
                
                    </div>
                    </div>
                </div>
            </div>
        
	

